/* start root */

:root {
    --main-transision: 0.5s;
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --paragraph-color: #777;
    --sections-padding: 100px;
}

/* end root */

/* start global rules */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

::selection {
    color: white;
    background: var(--main-color);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

ul {
    list-style: none;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium */

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large */

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules */

/* start components */

.main-heading {
    text-align: center;
    padding: 60px;
    padding-left: auto;
    padding-right: auto;
}

.main-heading h2 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 60px;
    position: relative;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    background-color: black;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -38px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 2;
    background-color: white;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: var(--p-color);
}

/* end components */

/* start header */

header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 90px;
    min-width: 80%;
    overflow: visible;
}

header .container::before {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    left: 15px;
    top: 99%;
    background-color: #a2a2a2;
}

header .container img {
    height: 40px;
    animation-name: trans;
    animation-duration: 1.2s;
}

header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .container nav .toggle-menu {
    font-size: 22px;
    color: white;
    margin: auto;
}

@media (min-width: 768px) {
    header .container nav .toggle-menu {
        display: none;
    }
}

header .container nav ul {
    margin-right: 80px;
}

@media(max-width: 767px) {
    header .container nav ul {
        display: none;
    }
}

header .container nav .toggle-menu:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: rgb(0 0 0 / 50%);
    z-index: 10;
}

header .container nav .toggle-menu:hover+ul li a {
    padding: 15px
}

header .container nav li {
    display: inline-block;
}

header .container nav ul li a {
    display: block;
    text-decoration: none;
    transition: var(--main-transision);
    padding: 40px 10px;
    color: white;
    position: relative;
    perspective: 1000px;
}

header .container nav ul li a::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 1px;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    display: none;
}

header .container nav ul li a span {
    display: block;
    transition: var(--main-transision);
}

header .container nav ul li a:hover span {
    transform: translate3d(0, 0, 150px);
    color: var(--main-color);
}

header .container nav ul li a:hover::before {
    display: block;
}

header .container nav ul li a.active {
    border-bottom: 1px solid var(--main-color);
}

header .container nav ul li .active span {
    transform: translate3d(0, 0, 150px);
    color: var(--main-color);
}

@media(max-width: 768px) {
    header .container nav ul li .active span {
        transform: translate3d(0, 0, 0);
    }
    header .container nav ul li a:hover span {
        transform: translate3d(0, 0, 0);
    }
}

header .container nav .form {
    justify-self: flex-end;
    position: relative;
}

header .container nav .form i {
    font-size: 25px;
    color: #a2a2a2;
}

header .container nav .form::before {
    content: "";
    position: absolute;
    height: 158%;
    width: 4px;
    left: -30px;
    top: -6px;
    background-color: #a2a2a2;
    border-radius: 20px;
}

/* end header */

/* start landing  */

.landing {
    min-height: 100vh;
    background-image: url(../images/landing.WebP);
    background-size: cover;
    background-color: rgb(10, 10, 32);
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    width: 48%;
    padding: 50px;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 80%;
}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
    animation-name: trans;
    animation-duration: 1.2s;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    color: white;
}

@media (max-width: 767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.landing .bullets li {
    border: 1px solid #a2a2a2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.active-bullet {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* end landing */

/* start sevices */

.services {
    padding-top: var(--sections-padding);
    padding-bottom: var(--sections-padding);
}

@media (min-width: 768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}

.services .srv-box {
    display: flex;
}

.services .srv-box i {
    margin: 0 20px 30px;
    background-color: var(--main-color);
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

@media (max-width: 767px) {
    .srv-box {
        text-align: center;
    }
}

.services .srv-box h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}

.services .srv-box p {
    line-height: 2;
    color: var(--paragraph-color);
    margin-bottom: 30px;
}

/* end sevices */

/* start design */

.design {
    padding-top: var(--sections-padding);
    padding-bottom: var(--sections-padding);
    height: 600px;
    position: relative;
    background-image: url(../images/design-image.WebP);
    background-size: cover;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.design .image, .design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image {
    text-align: center;
}

.design .image img {
    position: relative;
    bottom: -150px;
}

.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

@media (max-width: 768px) {
    .design .image {
        display: none;
    }
    .design .text {
        border-radius: 0px;
    }
}

.design .text h2 {
    font-weight: normal;
    margin-bottom: 40px;
}

.design .text ul li {
    padding: 15px 0;
}

.design .text ul li::before {
    content: "\f108";
    font-family: "font awesome 5 free";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

/* end design */

/* start Portfolio */

.Portfolio {
    padding-top: var(--sections-padding);
    padding-bottom: var(--sections-padding);
}

.Portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.Portfolio .shuffle li {
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
    width: 70px;
}

.Portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}

@media (max-width:768px) {
    .Portfolio .shuffle li {
        padding: 5px;
        border-radius: 5px;
        margin: 0 5px;
        text-align: center;
        width: 50px;
    }
}

.Portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.Portfolio .imgs-container .box {
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .Portfolio .imgs-container .box {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .Portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (min-width :1200px) {
    .Portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}

.Portfolio .imgs-container .box img {
    max-width: 100%;
    transition: var(--main-transision);
}

.Portfolio .imgs-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: var(--main-transision);
    bottom: -30%;
}

.Portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}

.Portfolio .imgs-container .box:hover img {
    transform: rotate(5deg) scale(1.1);
}

.Portfolio .imgs-container .box .caption h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.Portfolio .imgs-container .box .caption p {
    color: var(--main-color);
}

.Portfolio .more {
    background-color: var(--main-color);
    color: white;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    transition: var(--main-transision);
    position: relative;
    overflow: hidden;
    width: 100px;
    text-align: center;
    padding: 15px 5px;
}

.Portfolio .more::before {
    content: "\f101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    font-size: 25px;
    top: 24%;
    left: 45%;
    transform: translateX(-400%);
    transition: var(--main-transision);
}

.Portfolio .more span {
    display: block;
    transition: var(--main-transision);
}

.Portfolio .more:hover::before {
    transform: translateX(0);
}

.Portfolio .more:hover span {
    transform: translateX(400%);
}

/* end Portfolio */

/* start video */

.video {
    position: relative;
    overflow: hidden;
}

.video::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 30%);
}

.video video {
    width: 100%;
    aspect-ratio: 17/9;
}

.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
}

.video .text h2 {
    margin: 0 0 30px;
    font-weight: normal;
}

.video .text p {
    margin-bottom: 30px;
}

.video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-style: none;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 20px;
    transition: var(--main-transision);
}

.video .text button:hover {
    background-color: transparent;
    color: white;
}

/* end video */

/* start about */

.about {
    padding-top: var(--sections-padding);
    overflow: hidden;
    text-align: center;
}

.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}

@media (max-width: 767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}

/* end about */

/* start status */

.status {
    padding-top: var(--sections-padding);
    padding-bottom: var(--sections-padding);
    text-align: center;
    background-image: url(../images/stats.WebP);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.status::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.status .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.status .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

@media (max-width: 767px) {
    .status .container .box {
        flex-basis: 100%;
        border-bottom: 1px solid white;
    }
    .status .container .box:last-child {
        border-bottom: 0;
    }
}

@media (min-width: 767px) {
    .status .container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .status .container .box {
        flex-basis: 25%;
    }
}

.status .container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}

.status .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}

.status .container .box p {
    font-size: 14px;
}

/* end status */

/* start skills */

.our-skills {
    padding-top: var(--sections-padding);
    padding-bottom: var(--sections-padding);
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .our-skills .container>div {
        flex-basis: 45%;
    }
}

.our-skills .container>div h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
}

.our-skills .container>div p {
    color: var(--paragraph-color);
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}

.our-skills .container .testimonials .content {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.our-skills .container .testimonials .content img {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}

@media (max-width: 767px) {
    .our-skills .container .testimonials .content {
        text-align: center;
    }
    .our-skills .container .testimonials .content img {
        margin: 0 auto 20px;
    }
}

.our-skills .container .testimonials .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}

.our-skills .container .testimonials .text p {
    color: var(--paragraph-color);
    text-align: right;
    margin-bottom: 10px;
}

.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.our-skills .testimonials .bullets li {
    border: 1px solid #a2a2a2;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.our-skills .testimonials .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.our-skills .skills .prog-holder {
    margin-bottom: 40px;
}

.our-skills .skills .prog-holder h4 {
    margin-bottom: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}

.our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}

.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}

.our-skills .skills .prog-holder .prog span::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border: 8px solid;
    right: -8px;
    top: -15px;
    border-color: black transparent transparent transparent;
}

/* end skills */

/* start quote */

.quote {
    padding-top: var(--sections-padding);
    padding-bottom: var(--sections-padding);
    background-image: url(../images/quote.WebP);
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
    background-attachment: fixed;
    height: 350px;
}

.quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.quote .container {
    position: relative;
}

q::before, q::after {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin: 0px 8px 0;
    font-size: 20px;
    top: -6px;
    position: relative;
}

.quote q {
    font-size: 25px;
    margin-bottom: 20px;
    display: block;
}

.quote .container span {
    display: block;
    width: 100%;
}

@media (max-width: 767px) {
    .quote, .quote q {
        font-size: 20px;
    }
    q::before, q::after {
        font-size: 17px;
    }
}

/* end quote */

/* start pricing */

.pricing {
    padding-top: var(--sections-padding);
    padding-bottom: var(--sections-padding);
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .plans .plan {
    text-align: center;
    background-color: #fcfcfc;
    border-radius: 20px;
}

.pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px sollid var(--main-color);
    border-bottom: 1px sollid var(--main-color);
}

.pricing .plans .plan .head h4 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: 600;
}

.pricing .plans .plan .head span::before {
    content: "$";
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-weight: normal;
}

.pricing .plans .plan .head span::after {
    content: "/Mo";
    font-size: 25px;
    position: relative;
    right: -15px;
}

.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.pricing .plans .plan .foot a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
    border-radius: 20px;
    color: var(--main-color);
    transition: var(--main-transision);
}

.pricing .plans .plan .foot a:hover {
    color: white;
    background-color: var(--main-color);
    border-radius: none;
}

.pricing .contact-text {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
}

.pricing .contact-link a {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: var(--main-transision);
    position: relative;
    -webkit-text-stroke: 1px transparent;
    -webkit-text-fill-color: white;
    border-radius: 5px;
}

.pricing .contact-link a::before {
    content: attr(date-text);
    text-transform: uppercase;
    position: absolute;
    -webkit-text-fill-color: var(--main-color);
    overflow: hidden;
    width: 0;
    transition: var(--main-transision);
    height: 20px;
}

.pricing .contact-link a:hover {
    background-color: white;
    border: 1px solid var(--main-color);
}

.pricing .contact-link a:hover::before {
    width: 100%;
}

/* end pricing */

/* start subscribe */

.subscribe {
    padding-top: var(--sections-padding);
    padding-bottom: var(--sections-padding);
    background-image: url(../images/subscribe.WebP);
    background-size: cover;
    position: relative;
    color: white;
    background-attachment: fixed;
}

.subscribe::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.subscribe .container {
    display: flex;
    align-items: center;
    position: relative;
}

@media(max-width:991px) {
    .subscribe .container {
        flex-direction: column;
    }
}

.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}

.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.subscribe form input[type="email"] {
    border: 1px solid var(--main-color);
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    color: white;
    width: 160px;
    transition: var(--main-transision);
}

.subscribe form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    text-transform: uppercase;
    border-left: none;
    cursor: pointer;
    position: relative;
    transition: var(--main-transision);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.subscribe form input[type="submit"]:hover {
    background: none;
    border: 1px solid var(--main-color);
}

.subscribe form input[type="email"]:focus, .subscribe form input[type="submit"]:focus {
    outline: none;
}

.subscribe form input[type="email"]:focus {
    width: calc(100% - 130px);
}

.subscribe form ::placeholder {
    color: white;
}

.subscribe p {
    line-height: 2;
    margin-left: 50px;
}

@media(max-width:991px) {
    .subscribe p {
        margin: 30px 0 0;
        text-align: center;
    }
}

/* start subscribe */

/* start contact us */

.contact {
    padding-top: var(--sections-padding);
    padding-bottom: var(--sections-padding);
}

.contact .content {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}

.contact .content form {
    flex-basis: 70%;
}

.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid var(--main-color);
    margin-bottom: 30px;
    width: 100%;
    caret-color: var(--main-color);
    color: var(--paragraph-color);
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form textarea.main-input {
    height: 200px;
    color: var(--paragraph-color);
}

.contact .content form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
    transition: var(--main-transision);
    border-radius: 10px;
}

.contact .content form input[type="submit"]:hover {
    background-color: white;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.contact .content .info {
    flex-basis: 25%;
}

.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}

.contact .content .info .phone {
    display: block;
    color: var(--paragraph-color);
    margin-top: 10px;
}

.contact .content .info h4:nth-last-child(2) {
    margin-top: 113px;
}

.contact .content .info address {
    color: var(--paragraph-color);
    line-height: 2;
}

@media(max-width: 767px) {
    .contact .content .info {
        order: -1;
        display: flex;
        justify-content: space-between;
    }
    .contact .content .info h4:nth-last-child(2) {
        margin-top: 0px;
    }
    .contact .content .info .phone {
        display: block;
        color: var(--paragraph-color);
        margin-top: 53px;
    }
    .contact .content form input[type="submit"] {
        margin-right: auto;
    }
}

/* end contact us */

/* start footer */

footer {
    padding-top: calc(var(--sections-padding) / 2);
    padding-bottom: calc(var(--sections-padding) / 2);
    background-image: url(../images/subscribe.WebP);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: white;
    text-align: center;
}

footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

footer .container {
    position: relative;
}

.footer img {
    margin: 0 0 20px 0;
}

footer p:not(.copyrighy) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
}

footer .social-icons {
    display: flex;
    justify-content: center;
}

footer .social-icons i {
    font-size: 25px;
    padding: 10px 15px;
    transition: var(--main-transision);
}

footer .social-icons i:hover {
    transform: translateY(-10px);
}

footer .social-icons i.fa-facebook-f:hover {
    color: #4267B2;
}

footer .social-icons i.fa-twitter:hover {
    color: #1DA1F2;
}

footer .social-icons i.fa-home:hover {
    color: var(--main-color);
}

footer .social-icons i.fa-linkedin:hover {
    color: #0077b5;
}

footer .social-icons i.fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .copyright {
    margin-top: 60px;
}

footer .copyright span {
    font-weight: bold;
    color: var(--main-color);
}

/* end footer */

/* start animation */

@keyframes trans {
    0% {
        transform: translateX(500px);
    }
    40% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0px);
    }
}